{% extends "popup.html" %}
{% load static %}

{% block modal_title %}My First Popup{% endblock %}

{% block extra_head %}
<style>
    .modal-body {
        overflow-y: auto;
    }

    .transition-transform {
        transition: transform 0.4s ease;
    }

    .modal-header {
        border: none !important;
    }

    .tab-pane {
        display: block;
        width: 100%;
        flex-shrink: 0;
    }
</style>
{% endblock %}


{% block modal_header %}
<div class="modal-header justify-content-center">
    <ul class="nav nav-pills" id="popupTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="template-tab" type="button">Template</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="parameters-tab" type="button">Parameters</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="info-tab" type="button">Info</button>
        </li>
    </ul>
    <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
{% endblock %}

{% block modal_body %}

<div class="modal-body p-0" style="overflow:hidden;">
    <div id="popupTabsContent" class="d-flex transition-transform">
        <div class="tab-pane" style="flex-shrink:0; width:100%; padding:1rem;">
            {% include "popup/choose_test.html" %}
        </div>
        <div class="tab-pane" style="flex-shrink:0; width:100%; padding:1rem;">
            Parameters content here
        </div>
        <div class="tab-pane" style="flex-shrink:0; width:100%; padding:1rem;">
            Info content here
        </div>
    </div>
</div>


<script>

    const tabs = document.querySelectorAll('#popupTabs .nav-link');
    const container = document.getElementById('popupTabsContent');

    tabs.forEach((tab, i) => {
        tab.addEventListener('click', () => {
            // activate current tab
            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');

            // slide container
            container.style.transform = `translateX(-${i * 100}%)`;
        });
    });

</script>

<script src="{% static 'js/choose_test.js' %}"></script>


{% endblock %}