{% extends "popup.html" %}
{% load static %}

{% block modal_title %}My First Popup{% endblock %}

{% block modal_body %}
<p>This is custom content for this instance of the popup.</p>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li><li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li>
    <li>Item 1</li>
  <li>Item 2</li>
    <li>Item 1</li>
  <li>Item 2</li>
<li>Item 1</li>
  <li>Item 2</li>








</ul>
{% endblock %}