{% load i18n %}
<div class="modal-body d-flex flex-column p-2" style="height: 100%;">
    <div class="d-flex gap-3 flex-grow-1" style="overflow: hidden;">
        <div id="parameterContainer" class="d-flex flex-row flex-grow-1 border rounded shadow-sm p-3"
             style="height: 100%;">

            <div class="d-flex flex-column flex-grow-1 me-2 overflow-hidden">
                <div class="tab-pane param-tab-pane fade show active" tabindex="-1" id="chooseParametersContainer">
                </div>
            </div>

            <div id="parameterInfoContainer" tabindex="-1" class="border-start p-2 d-flex flex-column hidden"
                 style="width: 30%; overflow-y: auto;">


            </div>

        </div>
    </div>

    <!-- Sticky Submit Button -->
    <button id="submitParameters" class="mt-1 btn btn-gradient shadow-sm fw-bold px-4 py-2"
            style="
            background: linear-gradient(135deg, #60a5fa, #1e40af);
            border: none;
            border-radius: 0.5rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        ">
        {% trans "Submit Parameters" %}
    </button>

</div>
