<div class="modal-body d-flex flex-column p-2" style="height: 100%;">
    <div class="d-flex gap-3 flex-grow-1" style="overflow: hidden;">
        <div id="parameterContainer" class="d-flex flex-row flex-grow-1 bg-light border rounded shadow-sm p-3"
             style="height: 100%;">

            <div class="d-flex flex-column flex-grow-1 me-2 overflow-hidden">
                <div class="tab-pane param-tab-pane fade show active" tabindex="-1" id="chooseParametersContainer">
                </div>
            </div>

            <div id="parameterInfoContainer" tabindex="-1" class="border-start bg-light p-2 d-flex flex-column"
                 style="width: 30%; overflow-y: auto;">


            </div>

        </div>
    </div>

    <!-- Sticky Submit Button -->
    <button id="submitParameters" class="btn btn-primary mt-3 w-100">Submit</button>

</div>
