{% extends "base.html" %}
{% block title %}Devices - DiagNet{% endblock %}
{% block content %}
    <h1>Devices</h1>
    {% if perms.devices.add_device %}
        {% include "devices/partials/device_create_modal_button.html" %}
        {% include "devices/partials/device_create_modal.html" %}
    {% endif %}
    {% if perms.networktests.add_testresult %}
        <a class="btn btn-success mb-3" id="check-all-devices">
            <i class="bi bi-check2-all"></i> Check All Devices
        </a>
    {% endif %}
    {% if perms.devices.add_device %}
        <a class="btn btn-primary mb-3" href="{% url 'device-import' %}">
            <i class="bi bi-box-arrow-in-down"></i> Import Devices
        </a>
    {% endif %}
    {% if perms.devices.view_device %}
        <a class="btn btn-primary mb-3" href="{% url 'devices-export' %}">
            <i class="bi bi-box-arrow-up"></i> Export Devices
        </a>
    {% endif %}
    <div hx-get="{% url 'devices-table' %}"
         hx-trigger="load, refresh from:body"
         hx-swap="innerHTML"
         id="device-table">
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading devices...</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'devices/device_status.js' %}"></script>
    <script>
	document.addEventListener('DOMContentLoaded', () => {
		// reset creation modal
		const modalEl = document.getElementById('deviceCreationModal');
		modalEl.addEventListener('show.bs.modal', () => {
			const modalBody = modalEl.querySelector('.modal-body');
			htmx.ajax('GET', '{% url "device-create" %}', {target: modalBody});
		});

		// refresh on modal close
		document.body.addEventListener('hidden.bs.modal', (event) => {
			htmx.trigger('#device-table', 'refresh');
		});
	});

	document.body.addEventListener('deviceCreated', () => {
		const modalEl = document.getElementById('deviceCreationModal');
		const modal = bootstrap.Modal.getInstance(modalEl);
		if (modal) modal.hide();
	});

	document.body.addEventListener('devicesRefresh', () => {
		htmx.trigger('#device-table', 'refresh');
	});
    </script>
{% endblock %}
