{% extends "base.html" %}

{% block title %}Devices - DiagNet{% endblock %}

{% block content %}
<h1>Devices</h1>
<a class="btn btn-primary mb-3" href="{% url 'device-create' %}">
	<i class="bi bi-database-add"></i> Add Device
</a>
<a class="btn btn-success mb-3" id="check-all-devices">
	<i class="bi bi-check2-all"></i> Check All Devices
</a>
<div hx-get="{% url 'devices-table' %}" hx-trigger="load, refresh from:body delay:1s" hx-swap="innerHTML"
	id="device-table">
	<div class="text-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading devices...</span>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'devices/device_status.js' %}"></script>
{% endblock %}