<form method="post"
      hx-post="{% url 'device-create' %}"
      hx-target="this"
      hx-swap="outerHTML">

    {% csrf_token %}

    <!-- Vendor Auswahl -->
    <div class="form-floating mb-3">
        <select
            name="vendor"
            class="form-select"
            hx-get="{% url 'device-vendor-form' %}"
            hx-trigger="change"
            hx-target="#device-fields"
        >
            <option value="cisco">Cisco</option>
            <option value="fortinet">Fortinet</option>
        </select>
        <label>Vendor</label>
    </div>

    <!-- Dynamische Formularfelder -->
    <div id="device-fields">
        {% include "devices/partials/cisco_fields.html" %}
    </div>

    <button class="btn btn-success" type="submit">
        Create
    </button>
</form>
