{% extends "base.html" %}

{% block title %}Network Tests - DiagNet{% endblock %}

{% block content %}
<h1>Network Tests</h1>

<div class="d-flex align-items-center gap-2 mb-3">
    <a href="{% url 'test-page' %}" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Add Test Case
    </a>

    <a href="{% url 'networktests-export-pdf' %}" class="btn btn-outline-danger">
        <i class="bi bi-file-earmark-pdf"></i> Export PDF Report
    </a>
</div>

<div hx-get="{% url 'networktests-table' %}" hx-trigger="load, refresh from:body delay:1s" hx-swap="innerHTML"
	id="networktests-table">
	<div class="text-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading test cases...</span>
		</div>
	</div>
</div>
{% include "networktests/partials/create_popup/create_test_popup.html" %}
{% endblock %}