<div class="table-responsive" id="testgroup-table">
  <div id="placeholder">
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error:</strong> {{ error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
  </div>
  <table class="table table-striped">
      <thead>
      <tr>
          <th>Name</th>
      </tr>
      </thead>
      <tbody>
      {% if testgroup_list %}
      {% for testgroup in testgroup_list %}
      <tr id="testgroups-{{ testgroup.name }}">
        <td style="width: 2rem;">
          <button 
            class="btn btn-sm btn-outline-secondary" 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ testgroup.name }}"
            aria-expanded="false"
            aria-controls="collapse-{{ testgroup.name }}">
            <i class="bi bi-chevron-down"></i>
          </button>
        </td>

        <td>
          <a href="detail/{{ testgroup.name }}/"> {{ testgroup.name }} </a>
        </td>

        <td class="text-end">
          <button id="show-add-form-{{ testgroup.name }}"
            class="btn btn-sm btn-outline-success">
            <i class="bi bi-plus"></i> Add Testcase
          </button>

          <div hidden class="text-end" id="add-form-div-{{ testgroup.name }}">
            <form hx-post="{% url 'testcase-add' %}" 
                hx-vals='{"testgroup": "{{ testgroup.name }}"}'
                hx-target="#td-coll-{{ testgroup.name }}"
                hx-swap="innerHTML"
                class="d-flex align-items-center">
              {% csrf_token %}
                
              <div class="d-flex align-items-center justify-content-between mb-3">
                <input 
                    type="text" 
                    name="testcase" 
                    id="input-{{ testgroup.name }}"
                    placeholder="Add testcase"
                    class="form-control me-2" 
                    style="max-width: 300px;">
                
                <button id="submit-{{ testgroup.name }}" type="submit" class="btn btn-success btn-sm me-2">
                  <i class="bi bi-check"></i>
                </button>
                
                <button 
                    type="button"
                    id ="aboart-{{ testgroup.name }}"
                    class="btn btn-secondary btn-sm">
                  <i class="bi bi-x"></i>
                </button>
              </div>
            </form>
          </div>
        </td>

        <td class="text-end" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
          <a 
            hx-vals='{"name": "{{ testgroup.name }}"}'
            hx-post="delete-testgroup/"
            hx-target="#testgroup-table"
            class="btn btn-sm btn-danger"
            title="Delete">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>

      <!-- Collapsible row -->
      <tr class="collapse" id="collapse-{{ testgroup.name }}">
        <td colspan="3" class="bg-light" id="td-coll-{{ testgroup.name }}">
          <div 
            hx-get="list-testcases/{{ testgroup.name }}"
            hx-trigger="load"
            hx-swap="outerHTML">
            <p>Loading content…</p>
          </div>
        </td>
      </tr>

      <script>
        (() => {
        const showAddFrom{{ testgroup.name }} = document.getElementById("show-add-form-{{ testgroup.name }}");
        const addForm{{ testgroup.name }} = document.getElementById("add-form-div-{{ testgroup.name }}");
        const aboart{{ testgroup.name }} = document.getElementById("aboart-{{ testgroup.name }}");
        const submit{{ testgroup.name }} = document.getElementById("submit-{{ testgroup.name }}");
        const input{{ testgroup.name }} = document.getElementById("input-{{ testgroup.name }}");

        showAddFrom{{ testgroup.name }}.addEventListener("click", function () {
          showAddFrom{{ testgroup.name }}.classList.add("d-none");

          input{{ testgroup.name }}.value = "";

          addForm{{ testgroup.name }}.hidden = false;
          addForm{{ testgroup.name }}.classList.add("d-inline-block");

          input{{ testgroup.name }}.focus();
        });

        aboart{{ testgroup.name }}.addEventListener("click", function () {
          showAddFrom{{ testgroup.name }}.classList.remove("d-none");

          addForm{{ testgroup.name }}.hidden = true;
          addForm{{ testgroup.name }}.classList.remove("d-inline-block");
        });

        submit{{ testgroup.name }}.addEventListener("click", function () {
          showAddFrom{{ testgroup.name }}.classList.remove("d-none");

          addForm{{ testgroup.name }}.hidden = true;
          addForm{{ testgroup.name }}.classList.remove("d-inline-block");
        });

        document.body.addEventListener('htmx:responseError', function (event) {
          // event.detail enthält Response-Daten
          const errorBox = document.querySelector('#placeholder');

          // Optional: Response-Text einfügen
          errorBox.innerHTML = `
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error:</strong> ${event.detail.xhr.responseText || 'Unknown Error'}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          `;
        });
        })();
      </script>

      {% endfor %}
      {% else %}
      <tr>
          <td colspan="100%">No Test Groups yet.</td>
      </tr>
      {% endif %}
      </tbody>
  </table>
</div>

