{% extends "base.html" %}

{% block title %}Test Group - DiagNet{% endblock %}

{% block content %}

<div id="title-div" class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="mb-0">Test Group: {{ testgroup.name }}</h1>
  <button id="edit-btn" class="btn btn-outline-primary btn-sm">
    <i class="bi bi-pencil"></i> Rename
  </button>
</div>

<div id="rename-form-div" hidden>
  <form 
     hx-post="/testgroups/rename/{{ testgroup.name }}/" 
      hx-target="#title-div"
      hx-swap="outerHTML"
      class="d-flex align-items-center">
    {% csrf_token %}
      
    <div class="d-flex align-items-center justify-content-between mb-3">
      <input 
          type="text" 
          name="name" 
          value="{{ testgroup.name }}" 
          class="form-control me-2" 
          style="max-width: 300px;">
      
      <button id="rename-submit" type="submit" class="btn btn-success btn-sm me-2">
        <i class="bi bi-check"></i>
      </button>
      
      <button 
          type="button"
          id ="aboart"
          class="btn btn-secondary btn-sm">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </form>
</div>

<a href="/testgroups/" class="btn btn-outline-secondary mt-3">
  <i class="bi bi-arrow-left"></i> Back
</a>
<br>
<br>

<div 
  hx-get="/testgroups/list-testcases/{{ testgroup.name }}"
  hx-trigger="load"
  hx-swap="outerHTML">
  <p>Loading content…</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const editBtn = document.getElementById("edit-btn");
    const title = document.getElementById("title-div");
    const renameForm = document.getElementById("rename-form-div");
    const aboart = document.getElementById("aboart");
    const submit = document.getElementById("rename-submit");

    editBtn.addEventListener("click", function () {
      title.classList.add("d-none");
      renameForm.hidden = false;
    });

    aboart.addEventListener("click", function () {
      title.classList.remove("d-none");
      renameForm.hidden = true;
    });

    submit.addEventListener("click", function () {
      renameForm.hidden = true;
    });
  });
</script>

{% endblock %}
