{% extends "base.html" %}

{% block title %}Test Groups - DiagNet{% endblock %}

{% block content %}
<h1>Test Groups</h1>
<form hx-post="create-testgroup/" hx-target="#testgroup-table" hx-swap="outerHTML" hx-on::after-request="this.reset()">
  {% csrf_token %}
  <div class="from-group row">
    <div class="col-sm-8">
      <input type="text" name="name" placeholder="Type group name here" class="form-control">
    </div>
    <div class="col-sm-4">
      <button type="submit" name="submit" class="btn btn-primary mb-3">
        <i class="bi bi-database-add"></i>
        Add Test Group
      </button>
    </div>
  </div>
</form>

<div 
  hx-get="/testgroups/list-testgroups/"
  hx-trigger="load"
  hx-swap="outerHTML">
  <p>Loading content…</p>
</div>

{% endblock %}
