<!-- Template content -->
<div class="position-relative" style="max-width: 300px;">
    <input type="text" id="searchInput" class="form-control" placeholder="Search...">

    <!-- Results dropdown -->
    <ul id="resultsList" class="list-group position-absolute w-100 shadow-sm"
        style="z-index: 1000; display: none; max-height: 200px; overflow-y: auto;">
    </ul>


    <h5>Required Parameters</h5>
    <div id="requiredParamsContainer"></div>

    <h5>Optional Parameters</h5>
    <div id="optionalParamsContainer"></div>

    <button id="submitParameters" class="btn btn-primary mt-3">Submit</button>

</div>