<!DOCTYPE html>
<html>
    <head>
        <title>Popup</title>
        <!-- Bootstrap CSS -->
        <style>
        .modal-dialog.modal-dialog-large {
            width: 80vw;
            min-height: 400px;
            max-width: 1200px;
            height: calc(100vh - 150px);
            margin: 75px auto !important;
        }

        .modal-content {
            height: 100%;
            border-radius: 4px;
        }

        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="toast-container position-fixed bottom-0 end-0 p-3"
             style="z-index: 2000">
            <div id="successToast"
                 class="toast text-bg-success border-0"
                 role="alert"
                 aria-live="polite"
                 aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" id="successToastBody"></div>
                    <button type="button"
                            class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade shadow-sm"
             id="largeModal"
             tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-large">
                <div class="modal-content">
                    {% block modal_header %}{% endblock %}
                    {% block modal_body %}{% endblock %}
                    {% block modal_footer %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
