<div class="modal fade"
     id="testgroupModal"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="testgroup-modal-content">{% include "networktests/partials/testgroup_form.html" %}</div>
    </div>
</div>
<script>
    (() => {
        const modalEl = document.getElementById("testgroupModal");
        const modal = new bootstrap.Modal(modalEl);
        modal.show();
        modalEl.addEventListener("hidden.bs.modal", () => modalEl.remove());
    })();
</script>
