name: Nix CI

on:
  pull_request:
  merge_group:

jobs:
  check-code:
    name: Check code
    uses: ./.github/workflows/nix.yml
    secrets: inherit
    with:
      command: nix flake check

  test-code:
    name: Test code
    uses: ./.github/workflows/nix.yml
    secrets: inherit
    with:
      command: |
        nix develop --command just collectstatic
        nix develop --command just test
