name: Nix CI

on:
  pull_request:
  merge_group:

jobs:
  check-code:
    name: Check code
    uses: ./.github/workflows/nix.yml
    secrets: inherit
    with:
      command: nix flake check

  test-code:
    name: Test code
    uses: ./.github/workflows/nix.yml
    secrets: inherit
    with:
      command: >-
        SECRET_KEY='ci-test-key-not-for-production'
        DEVICE_ENCRYPTION_KEY='FYRiKLAYI7zmPwfm-NNqqj2BVwAKF37YptJpmKAsuIU='
        nix develop --command python manage.py test
