name: Nix

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
        description: Command to run

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            accept-flake-config = true
            always-allow-substitutes = true
            builders-use-substitutes = true
            max-jobs = auto

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community
          name: diagnet

      - run: ${{ inputs.command }}
        env:
          DIAGNET_DEBUG: False
          DIAGNET_SECRET_KEY: django-insecure-fallback-key-for-dev-only
          DIAGNET_DEVICE_ENCRYPTION_KEY: 8OGs8CTrNq8TltpMA3H-zybxADNlMt8FvdhEDo0QW98=
